body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: aqua;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    width: 80%;
    max-width: 600px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

li {
    padding: 15px;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li strong {
    color: aqua;
}

li br {
    margin-bottom: 10px;
}